@model ISZKR.ViewModels.PersonGalleryViewModel

<!-- ############################## GALERIA ZDJĘĆ ############################## -->
<h3>Zdjęcia</h3>
<section>
    <div class="gal-container">

        <a href="#" class="col-md-4 col-sm-6 co-xs-12 gal-item add-photo"><center><i class="glyphicon glyphicon-plus-sign"></i></center></a>
        @*@Html.ActionLink("<i class='glyphicon glyphicon-plus-sign'></i>", "setPersonsOnPhoto", "Person", new { person = Model.person, photo = Model.photo }, new { @class="col-md-4 col-sm-6 co-xs-12 gal-item add-photo" })*@

        @foreach (var photo in Model.photos)
        {
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#@photo.ID">
                        <img src="~/Content/Images/@photo.Path">
                    </a>
                    <div class="modal fade" id="@photo.ID" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="~/Content/Images/@photo.Path">
                                </div>
                                <div class="col-md-12 description">
                                    @photo.Description
                                    <button id="delete-photo" class="btn btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-erase"></i></button>
                                    <button id="edit-people" class="btn btn-xs btn-primary pull-right"><i class="glyphicon glyphicon-user"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#1">
                    <img src="http://nabeel.co.in/files/bootsnipp/gallery/1.jpg">
                </a>
                <div class="modal fade" id="1" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="http://nabeel.co.in/files/bootsnipp/gallery/1.jpg">
                            </div>
                            <div class="col-md-12 description">
                                This is the first one on my Gallery <!-- description -->
                                <button id="delete-photo" class="btn btn-xs btn-danger pull-right"><i class="glyphicon glyphicon-erase"></i></button>
                                <button id="edit-people" class="btn btn-xs btn-primary pull-right"><i class="glyphicon glyphicon-user"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#2">
                    <img src="http://nabeel.co.in/files/bootsnipp/gallery/2.jpg">
                </a>
                <div class="modal fade" id="2" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="http://nabeel.co.in/files/bootsnipp/gallery/2.jpg">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the second one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
            <div class="box">
                <a href="#" data-toggle="modal" data-target="#16">
                    <img src="http://nabeel.co.in/files/bootsnipp/gallery/16.jpg">
                </a>
                <div class="modal fade" id="16" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <div class="modal-body">
                                <img src="http://nabeel.co.in/files/bootsnipp/gallery/16.jpg">
                            </div>
                            <div class="col-md-12 description">
                                <h4>This is the 16th one on my Gallery</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    Micromodal
                </h2>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-1-content">
                <p>
                    Try hitting the <code>tab</code> key and notice how the focus stays within the modal itself. Also, <code>esc</code> to close modal.
                </p>
            </main>
            <footer class="modal__footer">
                <button class="modal__btn modal__btn-primary">Continue</button>
                <button class="modal__btn" data-micromodal-close aria-label="Close this dialog window">Close</button>
            </footer>
        </div>
    </div>
</div>
