@model ISZKR.ViewModels.PersonGalleryViewModel

<!-- ############################## GALERIA ZDJĘĆ ############################## -->

<h3>Zdjęcia</h3>
<section>
    <div class="gal-container">

        @foreach (var photo in Model.photos)
        {
            <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                <div class="box">
                    <a href="#" data-toggle="modal" data-target="#@photo.ID">
                        <img src="~/Content/Images/thumb_@photo.Path">
                    </a>
                    <div class="modal fade" id="@photo.ID" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                <div class="modal-body">
                                    <img src="~/Content/Images/@photo.Path">
                                </div>
                                <div class="col-md-12 description">
                                    <span class="photo-description" id="photo-description-@photo.ID">
                                        @if (photo.Description == "")
                                        {
                                            @:Brak opisu
                                        }
                                        else
                                        {
                                            @photo.Description
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>